.islandora-inline-metadata{
  dt{
    width:100%;
  }
  dd{
    width:100%;
  }
}

.islandora-solr-search-results{
  td.islandora-inline-metadata{
    width: 100%;
  }
}
.block-islandora-compound-parent-metadata-block{
  width: 70%;
}

.islandora-basic-image-content{
  margin-bottom: 20px;
}
.islandora-internet-archive-bookreader{
  margin-bottom: 20px;
}
div#BookReader{
  margin-bottom: 20px;
}